* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f8;
    color: #222;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.topbar {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    font-weight: bold;
    color: #0a3a70;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.hero {
    height: 80vh;
    
            background-repeat: no-repeat;
            background-size:cover;
            margin-top:0;
            background-position:center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    animation: heroSlider 20s infinite ease-in-out;
}

.hero-content h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    color: #ac1224;
    max-width: 700px;
    margin: auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 60px auto;
}
.grid-2:hover{
cursor: pointer;
}

.card {
    background:#ac1224;
    color: #fff;
    padding: 30px;
    border-radius: 6px;
}

.date {
    font-size: 12px;
    opacity: .8;
}

.news-item {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 4px solid #ac1224;
}

.services {
    background:black;
    padding: 60px 0;
    color: #fff;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.service {
    background: rgba(255,255,255,.1);
    padding: 20px;
    border-radius: 6px;
    font-size: 14px;
}

.cases {
    margin: 60px auto;
}

.case {
    background:#fff;
    font-size: medium;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
}

footer {
    background: black;
    color:white;
    padding: 30px 0;
    text-align: center;
}

@media (max-width: 900px) {
    .grid-2, .grid-3 {
        grid-template-columns: 1fr;
    }

    nav {
        display: flex;
        

    }
}
.img{
            
            width:70px;
            height:50px;
        }
        .icone{
            display:flex;
            flex-direction:row;
            gap:10px;
            width:100%;
            height:50%;
            font-size: medium;
            background:#ff660001;
            margin-top:30px;
            align-items: center;
             margin-left:100px;
        }
                .texto{
            display: flex;
            width:max-content;
            flex-direction: row;
            gap:20px;
            font-size: medium;
            color:#f93f03;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-family:'Iskoola Pota', sans-serif;
            font-size: medium;
            
           
           
        }
        .a{
           position: relative;
           display: inline-block;
           
        }
        /* .a:hover{
             text-decoration: underline;
        } */
        .a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 3px;
        background-color:#f93f03;
        transition: width 0.3s ease;
 
        }

        .a:hover::after {
        width: 100%;
        }

        .b{
           position: relative;
           display: inline-block;
           
        }
        /* .a:hover{
             text-decoration: underline;
        } */
        .b::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 3px;
        background-color:#f93f03;
        transition: width 0.3s ease;
 
        }

        .b:hover::after {
        width: 100%;
        }
                .c{
           position: relative;
           display: inline-block;
           
        }
        /* .a:hover{
             text-decoration: underline;
        } */
        .c::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 3px;
        background-color:#f93f03;
        transition: width 0.3s ease;
 
        }

        .c:hover::after {
        width: 100%;
        }
                .d{
           position: relative;
           display: inline-block;
           
        }
        /* .a:hover{
             text-decoration: underline;
        } */
        .d::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 3px;
        background-color:#f93f03;
        transition: width 0.3s ease;
 
        }

        .d:hover::after {
        width: 100%;
        }
 @keyframes heroSlider {
    0% {
        background-image: url("../imagens/tv.webp" );
    }
    25% {
        background-image: url("../imagens/7.avif");
    }
    40% {
        background-image: url("../imagens/obras2.jpg");
    }
    50% {
        background-image: url("../imagens/tv1.webp");
    }
    60% {
        background-image: url("../imagens/ac1.webp");
    }
    70%{
        background-image: url("../imagens/controle.webp");
    }
    80% {
        background-image: url("../imagens/tv2.jpg");
    }
    90% {
        background-image: url("../imagens/2.webp");
    }
    100% {
        background-image: url("../imagens/4.jpg");
    }
}

.mn{
    width:500px;
    height:500px;
}
.icon{
            display:flex;
            flex-direction:row;
            gap:15px;
            margin-left:900px;
        }
        .icons{
            width:50px;
            height:50px;
            cursor: pointer;
        }