*{
            margin:0;
            padding:0;
             box-sizing: border-box;
  font-family: Arial, sans-serif;
        }

        .pai{
            display:flex;
            flex-direction:column;
            gap:5px;
            width:100%;
            height:100%;
            background-image:url(../imagens/7.avif);
            background-repeat: no-repeat;
            background-size:cover;
            margin-top:0;
            background-position:center;
            
            /* align-items: center;
            justify-content: center; */
        }
        /* Caixa de login */
.login-box {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 60px 25px 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Inputs */
.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  outline: none;
  
}

/* Opções */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #fff;
  margin-bottom: 20px;
}

.options a {
  color: #e0e0e0;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

/* Botão */
button {
  width:200px;
  padding: 12px;
   border: 3px solid black;
    border-radius:20px ;
    color: white;
    background:black;
    cursor:pointer;
 
  font-weight: bold;
  cursor: pointer;
}

button:hover {
      background:#941f1f;
    color:white;
    border: 3px solid #941f1f;
}
.filho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:200px;
}
/* Container principal */
.login-container {
  position: relative;
  width: 350px;
}
/* Avatar */
.avatar {
  width: 80px;
  height: 80px;
  background:black;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 32px;
   z-index: 10; 
}
.logout{
    display: flex;
    flex-direction:column;
}