     * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #302c3a, #810a0f,#302c3a);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Caixa de login */
.login-container {
    width: 360px;
    background: rgba(255, 255, 255, 0.35);
    padding: 30px;
    border-radius: 6px;
    text-align: center;
    backdrop-filter: blur(6px);
}

/* Título */
.login-container h2 {
    margin-bottom: 25px;
    color: #fff;
    letter-spacing: 1px;
}

/* Inputs */
.input-group {
    display: flex;
    align-items: center;
    background: #fff;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
}

.input-group i {
    color: #777;
    margin-right: 10px;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
}

/* Botão */
button {
  width:200px;
  padding: 12px;
   border: 3px solid black;
    border-radius:20px ;
    color: white;
    background:black;
    cursor:pointer;
 
  font-weight: bold;
  cursor: pointer;
}

button:hover {
      background:#941f1f;
    color:white;
    border: 3px solid #941f1f;
}
